<app-dynamic-form
  *ngIf="ticketFormConfig?.length && ticketData"
  [title]="'Create Ticket'"
  [cmsConfig]="ticketFormConfig"
  [apiData]="ticketData"
  [buttons]="[
    { key:'save', label:'Save', style:'secondary', type:'button' },
    { key:'submit', label:'Submit Ticket', style:'primary', type:'submit' },
    { key:'cancel', label:'Cancel', style:'danger', type:'button' }
  ]"
  (formSubmit)="onFormSubmit($event)"
  (buttonClick)="onButtonClick($event)">
</app-dynamic-form>
<app-snackbar></app-snackbar>
